##书籍推荐
#define(BookBigVo comp)
#set(
    compPrefStr = pref(prefStr,'cp',comp.id)
)
#set(color = 'color:  rgba(' + comp.styleColor + ',1)')
#set(linecolor = 'border-bottom-color: rgba(' + comp.styleColor + ',0.3)')
<section>
    <nav class="u-1 u-1-1 font_size_medium" style="${linecolor}">
        <img src="${comp.logo}" alt="" />
        <span style="${color}">${comp.name}</span>
    </nav>
    ##第一条特殊样式
    #set(BookVo book1 = comp.bookList[0])
    <div class="rec_top margin_not_top">
        <a href="${compPrefStr}/ft/book/detail.do?id=${book1.id}" class="u-3 clear padding_all">
            <img class="cover" data-src="${book1.smallPic}" src="${RES_PATH}/images/book_default.jpg">
            <aside>
                <p>${book1.name}</p>
                <p class="font_size_small">${book1.author}</p>
                <p class="font_size_small">${book1.tinyMemo}</p>
            </aside>
        </a>
        <img class="hot_rec" src="${RES_PATH}/images/icon_hot_rec.png" alt="" />
    </div>
    <div class="u-2-wrapper mt_8">
    #for(BookVo book:comp.bookList)
        #continue(for.index<2)
        ##u-2 clear开始
        #if(for.index%3==2)
            <article class="u-2 clear">
        #end
                <article>
                    <a href="${compPrefStr}/ft/book/detail.do?id=${book.id}">
                        <img data-src="${book.largePic}" src="${RES_PATH}/images/book_default.jpg"/>
                        <p>${book.name}</p>
                    </a>
                </article>
        ##u-2 clear结束
        #if(for.index%3==1||for.index==for.size)
            </article>
        #end
    #end
    </div>
</section>