##书籍与频道（大图）
#define(BookChannelVo comp)
#set(
    compPrefStr = pref(prefStr,'cp',comp.id)
)

##set(color = comp.styleColor!=null ? 'color: '+comp.styleColor : '')
#set(color = 'color:  rgba(' + comp.styleColor + ',1)')
#set(linecolor = 'border-bottom-color: rgba(' + comp.styleColor + ',0.3)')
<section>
    <nav class="u-1 u-1-3 font_size_medium" style="${linecolor}">
        <img src="${comp.logo}" alt="" />
        <span style="${color}">${comp.name}</span>
        #if(comp.url!=null&&comp.url!='')
        <a class="more" href="${compPrefStr + comp.url}">${comp.entryName}
            <img src="${RES_PATH}/images/icon-arrow.png" alt="" />
        </a>
        #end
    </nav>
    <div class="u-2-wrapper">
        <article class="u-2 clear">
            #for(BookVo book:comp.bookList)
                #break(for.index>3)
                <article>
                    <a href="${compPrefStr}/ft/book/detail.do?id=${book.id}">
                        <img data-src="${book.largePic}" src="${RES_PATH}/images/book_default.jpg"/>
                    </a>
                </article>
            #end
        </article>
    </div>
    <article class="u-4">
        #for(BookVo book:comp.bookList)
            #continue(for.index<=3)
            <a href="${compPrefStr}/ft/book/detail.do?id=${book.id}">${book.name}</a>
        #end
    </article>
</section>