#define(ComponentBaseVo comp)
#set(
    compPrefStr = pref(prefStr,'cp',comp.id)
)
#set(color = 'color:  rgba(' + comp.styleColor + ',1)')
#set(linecolor = 'border-bottom-color: rgba(' + comp.styleColor + ',0.3)')
<section>
    <nav class="u-1 u-1-4 font_size_medium" style="${linecolor}">
        <img src="${comp.logo}" alt=""/> <span style="${color}">${comp.name}</span>
        #if(comp.url!=null&&comp.url!='')
        <a class="more" href="${compPrefStr + comp.url}">${comp.entryName}
            <img src="${RES_PATH}/images/icon-arrow.png" alt="" />
        </a>
        #end
    </nav>
    <div class="u-7 clear">
        #for(DataBaseVo data:comp.list)
            <a href="${compPrefStr + data.url}" class="font_size_small"><span>${data.name}</span></a>
        #end
    </div>
</section>