<div class="footer">
    <div class="section nav">
        <p>
            <a href="/container/show.do?id=1" style="">粉色</a>
            <a href="/container/show.do?id=1" style="">书城</a>
            <a href="/recharge/entry.do" style="">充值</a>
            <a href="/user/logout.do">退出</a>
        </p>
    </div>
    <div class="section kefu">
        <h4>客服</h4>
        <p>
            工作时间：周一到周日 9:00-24:00<br>
            邮&nbsp;&nbsp;箱：kefu@fensebook.com<br>
            电&nbsp;&nbsp;话：010-50854181(转8003) <br>
            Q&nbsp;&nbsp;&nbsp;Q：3184323796<br>
            微&nbsp;&nbsp;博：@粉色书城<br>
            <span style="font-weight:bold">合&nbsp;&nbsp;作</span><br>
            邮&nbsp;&nbsp;箱：allen@cmyd8.com<br>
            电&nbsp;&nbsp;话：15811424990

        </p>
    </div>
    <div class="section">
        京ICP备15019114号-1
    </div>
    <%
    var date = date();
    %>
    <div class="section copyright">
        <p><span class="time">${date,dateFormat="yyyy.MM.dd HH:mm"}</span></p>
        <p class="copy">Copyright © 2015 FenseBook.com All rights reserved.</p>
    </div>
</div>