<div class="u-2-wrapper mt_8">
<p class="cover"><a href="http://wap.cmread.com/r/600663431/600663438.htm?&cm=M20U0022"><font color="#FF0000"><u><h3>《咪咕阅读推荐》提升财商理念，订阅有好礼</h3></u></font></a></p>
<p class="cover"><a href="http://wap.cmread.com/r/600456879/600456900.htm?&cm=M20U0022"><font color="#FF0000"><u><h3>《咪咕阅读推荐》习惯改变人生，订阅大回馈</h3></u></font></a></p>
<p class="cover"><a href="http://wap.cmread.com/r/440691104/index.htm?cm=M3530003"><font color="#FF0000"><u><h3>《好想好想爱上你》都市男女事业与感情的纠葛励志故事</h3></u></font></a></p>

</div>