<div class="footer">
    <div class="section nav">
        <p>
            <a href="/container/show.do?id=1" style="">猫咪</a>
            <a href="/container/show.do?id=1" style="">书城</a>
            <a href="/recharge/entry.do" style="">充值</a>
            <a href="/user/logout.do">退出</a>
        </p>
    </div>
    <div class="section kefu">
        <h4>客服</h4>
        <p>
            工作时间：周一到周日 9:00-24:00<br>
            邮&nbsp;&nbsp;箱：service@hanjoys.com<br>
            电&nbsp;&nbsp;话：010-58793530 猫咪读客服<br>
            <!--Q&nbsp;&nbsp;&nbsp;Q：2646724845<br>-->
            <span style="font-weight:bold">合&nbsp;&nbsp;作</span><br>
            邮&nbsp;&nbsp;箱：service@hanjoys.com<br>
            电&nbsp;&nbsp;话：010-58793530

        </p>
    </div>
    <div class="section">
        京ICP备15004407号-1
    </div>
    <div class="section copyright">
        <p><span class="time">${date(),dateFormat="yyyy.MM.dd HH:mm"}</span></p>
        <p class="copy">Copyright © 2015 psread.com All rights reserved.</p>
    </div>
</div>