<a href="/container/show.do?id=1" class="logo"><img src="/img/logo.png" alt="盘丝读"></a>
<div class="top">
    <div class="nav">
        <a href="/container/show.do?id=1" style="">
            <img src="/img/nav_01.png" alt="书城">
        </a>
        <a href="/container/show.do?id=18" style="">
            <img src="/img/nav_02.png" alt="排行">
        </a>
        <a href="/recharge/entry.do" style="">
            <img src="/img/nav_03.png" alt="充值">
        </a>
        <a href="/user/login.do" style="">
            <img src="/img/nav_04.png" alt="登录">
        </a>
    </div>
</div>