<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

       <bean id="bookGeneralService" class="cn.aiyuedu.bs.service.BookGeneralService" />
       <bean id="categoryGeneralService" class="cn.aiyuedu.bs.service.CategoryGeneralService" init-method="reload"/>
       <bean id="chapterGeneralService" class="cn.aiyuedu.bs.service.ChapterGeneralService" />
       <bean id="chapterContentService" class="cn.aiyuedu.bs.service.ChapterContentService" />
       <bean id="filterWordGeneralService" class="cn.aiyuedu.bs.service.FilterWordGeneralService" />
       <bean id="providerGeneralService" class="cn.aiyuedu.bs.service.ProviderGeneralService" />
       <bean id="solrGeneralService" class="cn.aiyuedu.bs.service.SolrGeneralService" />
       <bean id="tagGeneralService" class="cn.aiyuedu.bs.service.TagGeneralService" init-method="reload"/>
</beans>